<!DOCTYPE html>
<html>
<head>
  <title>BaseApp</title>
  <%= head_style %>
  <%= javascript_include_tag "application" %>
  <%= head_javascript %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
